
<div class="main">
<p><交換募集コメント></p>
<!-- 親投稿 -->

<%= link_to("交換募集トップページに戻る", "/trade/index", class: "trade-link") %>

<p>募集に対してコメントをしてください</p>

<p>【<%= @post.content %>】</p>
<div class="create-comment">
    <%= form_tag("/thread/#{@post.id}/create") do %>
        <textarea rows="10" cols="60" name="content">ここに入力してください</textarea>
        <input type="submit" value="投稿する">
    <% end %>
</div>



<!-- 子の投稿 -->
<div class="thread-contents">
    <% if @comment %>
        <% @comment.each do |comment| %>
        <li><%= comment.content %></li>
        <% end %>
    <% else %>
        <% [] %>
    <% end %>

</div>

</div>

