<div class="main">
<%= month_calendar events: @items do |date, items| %>
  <%= date %>

  <% items.each do |item| %>
    <div>
    <%= item.name %>
    <%= "#{item.price}円" %>
    



    </div>
  <% end %>
<% end %>
</div>