<div class="main">
    <h1>なんか便利なサイトとは？</h1>
        <div class="about-content">
            <p>個人的な欲望であふれているサイトです。
            <br>日々発表されるグッズの発売情報についていくためにグッズそれぞれの発売日をわかりやすくまとめたサイトです。
            <br>本当は、イベントの情報も取得してまとめられたらなあと思っていたのですが正直これで充分すぎるくらい満足いくクオリティのものができました。
            <br>(ふじもんさん本当にありがとうございます)
            <br>
            <br>グッズの発売情報だけでなく、簡単なユーザー登録をするだけで使えるグッズの交換募集掲示板も作りました。
            <br>
            <br>作っている時間がかなり楽しかったのでこれからもブラッシュアップしていきたいと考えています。
            </p>
        </div>

        <img class="aboutpage-image" src="https://pbs.twimg.com/media/Fi7X421UoAAMdr7?format=jpg&name=large" >
        <div class="quote">
            <p>@ngnchiikawa</p>
        </div>

        <br>
        <br>
</div>
