
<div class = "main">
<div class="menu-header">
    <h2>サイト概要</h2>
</div>
<div class="menu-about">
    <p>「なんか便利なサイト」とは？
        <br>ちいかわマーケットでのグッズの販売情報を見やすくカレンダーにまとめてみたサイトです。
        交換募集に使える掲示板も用意しています。
    </p>
    <%= link_to("詳しくはこちら", "/about", class: "link") %>
</div>

<div class="menu-header">
    <%= link_to("/calendar", class: "link")do %>
    <h2>グッズ発売日カレンダー</h2>
    <% end %>
</div>
<div class="menu-about">
    <p>ちいかわマーケット、ちいかわランドにて発売される商品を発売日ごとにわかりやすくまとめたものです。
    <br>「グッズ発売日カレンダー」と書かれているところをクリックするとカレンダーページに遷移します。
    </p>
</div>

<div class="menu-header">
    <%= link_to("/trade/index", class: "link")do %>
    <h2>掲示板</h2>
    <% end %>
    <p>グッズの交換募集に使えそうな掲示板を用意しました。
    <br>ご利用していただくにはにはユーザー登録が必要となります。右上のリンクからお願いします。</br>
    </p>
</div>
</div>

